.tabs {
  margin: 16px;
}

.tabsHead {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
  height: 54px;
  background-color: var(--bk-color);
  z-index: 99;
  transition: 0.3s;
  border-radius: 8px;
  padding-right: 15%;
}

.tablist {
  display: inline-flex;
  gap: 16px;
  align-items: center;

  position: relative;
}

.label {
  color: var(--text-secondary-color);
  font-size: 13px;
  font-weight: bold;
}
.label:hover {
  background-color: var(--light-primary-color);
  border-radius: 25px;
  color: whitesmoke;
  padding: 7px;
}
.active .label {
  background-color: var(--primary-color);
  border-radius: 25px;
  color: whitesmoke;
  padding: 7px;
}

.active {
  color: var(--text-color);
  transition: 0.3s;
}

.tab {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.tabsBody {
  margin-top: 16px;
}
@media screen and (max-width: 600px) {
  .label {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .label {
    font-size: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .label {
    font-size: 15px; /* Adjust font size for larger screens */
  }
}
