.tabs {

  margin: 16px;
 
}

.tabs .tabsHead {
  width:75%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  padding: 3px 8px;
  height: 54px;
  background-color: var(--bk-color);
  z-index: 99;
  transition: .3s;
  border-radius: 8px;

}

.tabs .tabsHead .tablist {
  display: inline-flex;
  gap: 24px;
  align-items: center;
  position: relative;
}

.tabs .tabsHead .tablist .tab p {
  color: var(--text-secondary-color);
  font-size: 16px;
  font-weight: bold;
  
}
.tabs .tabsHead .tablist .tab p:hover{
background-color: var(--light-primary-color);
border-radius: 25px;
color: whitesmoke;
padding: 10px;
}
.tabs .tabsHead .tablist .active p {
background-color: var(--primary-color);
border-radius: 25px;
color: whitesmoke;
padding: 10px;
}

.tabs .tabsHead .tablist .active {
  color: var(--text-color);
  transition: 0.3s;
}

.tabs .tabsHead .tablist .tab {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

/* .tabs .tabsHead .tablist .active::after {
  content: " ";
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
  position: absolute;
  bottom: -15px;
  transition: 0.3s;
} */
/* 
.tabs .tablist .line {
  position: absolute;
  width: 800px;
  height: 2px;
  background-color: rgb(26, 62, 125);
  bottom: -18.5px;
  transition: 0.3s;
} */

.tabs .tabsBody {
  margin-top: 16px;
}
