.container {
    border: 1px solid #ccc;
    background-color: var(--background-color);
    padding: 16px;
    margin: auto ;
    width: 75%;
    border-radius: 8px;
    margin-bottom: 16px;
  
  }


  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .userImg {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
.arrow{
  transform: translateY(90%);
  margin: 8px;
  color: var(--text-secondary-color);
  }
  .userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .userName {
    color: var(--primary-color);
    font-weight: bold;
  }
  .link{
    text-decoration: none;
    color: black;
  }

@media only screen and (max-width: 768px) {
  .userName{
    font-size: 16px;
  }
 
  .userImg {
    border-radius: 50%;
    height: 70px;
  }
  .userTitle{
    font-size: 15px;
  }


}

@media only screen and (max-width: 576px) {
  .userName{
    font-size: 15px;
  }
  .userTitle{
    font-size: 14px;

  }
  .userImg {
    border-radius: 50%;
    height: 66px;
  }
}

@media only screen and (max-width: 300px) {
  .userName{
    font-size: 13px;
  }
  .userTitle{
    font-size: 13px;
  }
  .userImg {
    border-radius: 50%;
    height: 63px;
  }
}
