.mySlides {
  display: none;
}

.slideshowContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev {
  margin-left: 20px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  margin-right: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(59, 58, 58, 0.8);
  border-radius: 50%;
}
.infoText {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  border: 1px solid #ccc;
  background-color: var(--background-color);
  padding: 16px;
  margin: auto;
  width: 75%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlidesFade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes mySlidesFade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .prev,
  .next {
    font-size: 14px;
  }
  .infoDescription,
  .infoText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .prev,
  .next {
    font-size: 10px;
    padding: 10px;
  }

  .infoDescription,
  .infoText {
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 6px;
  }
  .infoDescription,
  .infoText {
    font-size: 12px;
  }
}
