.container {
  border: 1px solid #ccc;
  background-color: var(--background-color);
  padding: 16px;
  margin: auto;
  width: 75%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}

.answer {
  margin: 15px 0px;
  color: var(--text-secondary-color);
}

.question {
  color: var(--primary-color);
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .question,
  .answer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .question,
  .answer {
    font-size: 15px;
  }
}

@media only screen and (max-width: 300px) {
  .question,
  .answer {
    font-size: 13px;
  }
}
