.box {
  width: 75%; /* Adjust the width based on your design */
  margin: auto;
  margin-top: 16px;
  display: block;
  justify-content: center;
  /* may it cause an styling error */
}
.column {
  float: left;
  width: 700px;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: start;
  background-color: var( --background-color);
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

.applyButton {
  background-color: var(--text-color);
  border: none;
  color: #ddd;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  /* position: absolute;
  bottom: 0;
  right: 0; */
  margin-bottom: 10px;
  margin-right: 10px;
}
.content {
  margin-bottom: 8px;
}

.companyInfo {
  display: flex;
  align-items: center;
}
.companyName {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 5px;
}
.applyButton:hover {
  background-color: var(--text-secondary-color);
}

.applyButtonContainer {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}
.jobTitle{
  font-weight: bold;
}
.companyAddress{
  
  margin: 10px 0px;
color: var(--text-secondary-color);

}

.lightLine {
  color: var(--border-color);
  border: 1px solid var(--border-color);
  margin: 10px 0px;
}

/* @media screen and (max-width: 768px) {
  .column {
    width: 60%; 
  }
} 
*/