.header {
  background-color: #eee;
  justify-content: baseline;
}

.content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarIcons {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: center;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}
.logo {
  display: flex;
}
.logo h3 {
  margin-left: 30px;
  color: var(--text-color);
  margin-top: 2px;
}

.notiDropbtn {
  color: var(--primary-color);
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn {
  color: white;
  border-radius: 8px;
  font-size: 13px;
  padding: 7px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--light-primary-color);
}

.dropdown {
  position: relative;
}
.notiDropbtn:hover,
.link:hover {
  background-color: var(--light-primary-color);
  border-radius: 50px;
  color: whitesmoke;
  padding: 10px;
  margin-left: 20px;
}
.dropdownNotificationContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px;
  padding: 14px;
  right: 0;
}
.notificationInfo {
  padding-bottom: 10px;
  color: var(--primary-color);
  font-weight: bold;

}
.dropdownSettingsContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdownContentText {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.lightLine {
  color: var(--border-color);
  border: 1px solid var(--border-color);
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .logo,.logo h3{
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
  }
  .dropbtn{
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .logo,.logo h3{
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold;
  }
  .dropbtn{
    font-size: 9px;
  }
}

@media only screen and (max-width: 300px) {
  .logo,.logo h3{
    font-size: 13px;
    margin-top: 5px;
  }
  .dropbtn{
    font-size: 7px;
  }
}

