.page {
  margin: auto;
  width: 99%;
}

.userProfileImg {
  border-radius: 50%;
}
.alignRow {
  display: flex;
  align-items: flex-end;
  color: var(--text-secondary-color);
  margin: 5px 0px;
}
.userInfoProfile {
  display: flex;
  justify-content: space-around;

  background-color: var(--light-primary-color);
  padding: 20px;
}
.userPhoneNumber,
.userEmail {
  color: var(--text-secondary-color);
}
.userTextInfo {
  margin: 15px 20px;
}
.userJobTitle {
  margin-bottom: 20px;
  margin-top: 5px;
}

.userIcons {
  color: var(--text-secondary-color);
  margin-right: 12px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: var(--background-color);
  padding: 20px;
  margin-top: 16px;
  border-radius: 8px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.row {
  display: flex;
  margin: 20px 50px;
  align-items: start;
}

.inlineRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.jobDescription {
  color: var(--text-secondary-color);
  margin: 15px 0px;
}
.headTitle {
  color: var(--primary-color);
  font-weight: bold;
}

.education,
.langName,
.skillName,
.certificationName {
  color: var(--text-secondary-color);
  margin: 8px 0px;
}

.lightLine {
  color: var(--border-color);
  border: 1px solid var(--border-color);
}
.userName {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .userEmail,
  .userPhoneNumber,
  .userJobTitle,
  .userAddress {
    font-size: 18px;
  }
  .userIcons {
    font-size: 14px;
  }
  .userName {
    font-size: 22px;
  }
  .userProfileImg {
    border-radius: 50%;
    height: 120px;
  }
  .leftcolumn,
  .rightcolumn {
    width: 49%;
    padding-left: 0;
  }
  .headTitle {
    font-size: 16px;
  }

  .row {
    margin: auto;
  }
  .leftcolumn {
    margin: 5px;
  }
  .education,
  .langName,
  .skillName,
  .certificationName {
    font-size: 16px;
  }
  .jobNameTitle {
    font-size: 16px;
  }
  .userInfoProfile {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 576px) {
  .userEmail,
  .userJobTitle,
  .userPhoneNumber,
  .userAddress {
    font-size: 16px;
  }
  .userIcons {
    font-size: 12px;
  }
  .userName {
    font-size: 20px;
  }
  .userProfileImg {
    border-radius: 50%;
    height: 100px;
  }

  .userInfoProfile {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 300px) {
  .userEmail,
  .userJobTitle,
  .userPhoneNumber,
  .userAddress {
    font-size: 14px;
  }
  .userName {
    font-size: 19px;
  }
  .userProfileImg {
    border-radius: 50%;
    height: 90px;
  }
  .userInfoProfile {
    justify-content: space-between;
  }
}
